{
    "targetServers" :
    [
        <list of server IDs to join>
    ],

    "discordPrefix" : "!",

    "discordChannels" :
    {
        "PlayerJoined" : <discord channel ID>,
        "PlayerLeft" : <channel ID>,
        "PlayerKilled" : <channel ID>,
        "PublicPlayerKilled" : <channel ID>,
        "PlayerMovedChunk" : <channel ID>,
        "TradeDeckUsed" : <channel ID>,
        "CreatureKilled" : <channel ID>,
        "CreatureSpawned" : <channel ID>,
    }
}   
